@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  @font-face {
    font-family: 'Circular Medium';
    font-style: normal;
    src: local('circular-medium'),
      url(/fonts/circular-medium.woff) format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Circular Book';
    font-style: normal;
    src: local('circular-book'),
      url(/fonts/circular-book.woff) format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Circular Italic';
    font-style: italic;
    src: local('circular-italic'),
      url(/fonts/circular-book-italic.woff) format('woff');
    font-display: swap;
  }

}